.form-section {
    display: flex;
    flex-direction: column;
    padding-bottom: $padding-default;

    > .form-label {
        display: inline-block;
        font-size: $font-size;
        margin-bottom: $margin-small;
    }
}

.input-element {
    display: block;
    /*width: 100%;*/
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;

    &:focus {
        outline: 2px solid lightskyblue;
        border-radius: 0;
    }
}

.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: $margin-extra-small;

    > input {
        margin: 0;
        padding: 0;
        margin-right: $margin-small;
    }
}

.radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: $margin-extra-small;

    > input {
        margin: 0;
        padding: 0;
        margin-right: $margin-small;
    }
}