@page
@model ComposerCMS.Web.Models.System.ProductSystem.CategoriesModel
@{
    ViewData["Title"] = "Cart";
}

<div class="app-page">
    <div class="product-categories">
        <h1>Shopping Cart</h1>
    </div>
</div>