<div class="editor-component d-flex">
  <div class="editor-ribbon h-100">
    <div class="form-group">
      <label>Page Title</label>
      <input type="text" class="form-control" [(ngModel)]="page.title" />
    </div>
  </div>
  <div class="editor-preview" *ngIf="previewSrc">
    <iframe [src]="previewSrc | safe" class="shadow-sm"></iframe>
  </div>
</div>

<style>
  .editor-component {
    height: calc(100% - 56px);
  }

  .editor-ribbon {
    width: 300px;
    padding: 15px;
  }

  .editor-preview {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 30px;
    background-color: #f7f7f7;
    overflow: hidden;
  }

  iframe {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: none;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 12px;
  }

  div[content] {
    height: 100%;
  }
</style>
