<app-page>
  <div content>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Package Bundles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Standalone Resources</a>
      </li>
    </ul>
    <div class="tab-content mt-4" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <p class="lead">Package Bundles <a class="cursor-pointer text-primary" (click)="isAddingPackageBundle = true">Add new package bundle</a></p>

        <p>
          Uploaded package bundles can be applied to a page or a layout. If you apply a package bundle to either a page or layout
          all of the related scripts and styles will be applied.
        </p>

        <div class="card mb-4" *ngIf="isAddingPackageBundle">
          <div class="card-body">
            <div class="form-group">
              <label>Package Name</label>
              <input type="text" class="form-control" [(ngModel)]="packageName" placeholder="Enter you bundle name here." />
            </div>
            <div class="form-group">
              <label>Upload package contents</label>
              <input [disabled]="progress > 0 && progress < 100" #fileInput multiple type="file" class="form-control-file" />
            </div>
            <div>
              <button type="button" class="btn btn-dark mr-2" (click)="uploadPackage(fileInput.files)">Upload package</button>
              <button type="button" class="btn btn-danger" (click)="isAddingPackageBundle = false">Cancel</button>
            </div>
          </div>
        </div>

        <div class="mb-4" *ngFor="let packageBundle of packageBundles; let i = index;">
          <div class="media mb-4">
            <img class="mr-3" src="http://localhost:51494/composer-cms/media/bootstrap-icon.png" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">{{packageBundle.name}}</h5>
              <div class="card">
                <app-resource-list [manualQuery]="true" [externalResources]="packageBundle.packageResources"></app-resource-list>
              </div>
            </div>
          </div>
          <hr />
        </div>
        <div *ngIf="packageBundles.length === 0">
          <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading">No packages</h4>
            <p>Any packages you upload will be displayed here along with the associated source files.</p>
            <hr>
            <p class="mb-0">After you upload a package you can edit the source directly in the dashboard.</p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div>
          <p class="lead">Standalone Resources</p>

          <p>
            Upload a standalone resource below. These resources can be applied individually to a page or layout without
            going through a package bundle.
          </p>

          <div class="form-group">
            <input multiple type="file" class="form-control-file" #standaloneFiles (change)="uploadStandaloneResources(standaloneFiles.files)" />
          </div>

          <app-resource-list></app-resource-list>
        </div>
      </div>
    </div>
  </div>
</app-page>
