#side-menu {
  background: #141E30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#side-menu i {
    margin-right: 10px;
}

#side-menu ul li a {
    font-size: 16px;
}
