<div #sideMenu id="side-menu" class="side-menu">
  <div class="links">
    <div style="padding: 15px; display: flex; align-items: center; justify-content: start; font-size: 20px;">
      <div #menuTitle>Composer <strong>CMS</strong></div>
      <!--<i (click)="toggleNarrowMenu()" class="fa fa-bars" style="margin: 0;"></i>-->
    </div>
    <ul>
      <li class="menu-item" title="Forms">
        <div class="menu-link" routerLink="/">
          <a>
            <i class="fa fa-globe"></i>
            <span class="menu-item-text">Dashboard</span>
          </a>
        </div>
      </li>
      <li class="menu-item" title="Pages">
        <div class="menu-link" routerLink="/layouts" routerLinkActive="active">
          <a>
            <i class="fa fa-clone"></i>
            <span class="menu-item-text">Layouts</span>
          </a>
        </div>
      </li>
      <li class="menu-item" title="Pages">
        <div class="menu-link" routerLink="/pages" routerLinkActive="active">
          <a>
            <i class="fa fa-files-o"></i>
            <span class="menu-item-text">Pages</span>
          </a>
        </div>
      </li>
      <li class="menu-item" title="Menus">
        <div class="menu-link" routerLink="/menus" routerLinkActive="active">
          <a>
            <i class="fa fa-bars"></i>
            <span class="menu-item-text">Menus</span>
          </a>
        </div>
      </li>
      <!-- <li class="menu-item" title="Forms">
          <div class="menu-link">
              <a>
                  <i class="fa fa-clone"></i>
                  <span class="menu-item-text">Forms</span>
              </a>
          </div>
      </li>
      <li class="menu-item" title="Site Preview">
          <div class="menu-link" routerLink="/preview">
              <a>
                  <i class="fa fa-search"></i>
                  <span class="menu-item-text">Site Preview</span>
              </a>
          </div>
      </li> -->
      <li class="menu-item" title="Scripts">
        <div class="menu-link" routerLink="/resources" routerLinkActive="active">
          <a>
            <i class="fa fa-code"></i>
            <span class="menu-item-text">Resources</span>
          </a>
        </div>
      </li>
      <li class="menu-item" title="Products">
        <div class="menu-link" routerLink="/products" routerLinkActive="active">
          <a>
            <i class="fa fa-shopping-bag"></i>
            <span class="menu-item-text">Products</span>
          </a>
        </div>
      </li>
      <li class="menu-item" title="Categories">
        <div class="menu-link" routerLink="/categories" routerLinkActive="active">
          <a>
            <i class="fa fa-tag"></i>
            <span class="menu-item-text">Categories</span>
          </a>
        </div>
      </li>
      <li class="menu-item" title="Activity">
        <div class="menu-link" routerLink="/blogs" routerLinkActive="active">
          <a>
            <i class="fa fa-book"></i>
            <span class="menu-item-text">Blogs</span>
          </a>
        </div>
      </li>
      <li class="menu-item" title="Themes">
        <div class="menu-link" routerLink="/themes" routerLinkActive="active">
          <a>
            <i class="fa fa-paint-brush"></i>
            <span class="menu-item-text">Themes</span>
          </a>
        </div>
      </li>
      <li class="menu-item" title="Activity">
        <div class="menu-link" routerLink="/activity" routerLinkActive="active">
          <a>
            <i class="fa fa-fire"></i>
            <span class="menu-item-text">Activity</span>
          </a>
        </div>
      </li>
      <li class="menu-item" title="Settings">
        <div class="menu-link" routerLink="/settings" routerLinkActive="active">
          <a>
            <i class="fa fa-cog"></i>
            <span class="menu-item-text">Settings</span>
          </a>
        </div>
      </li>
      <li class="menu-item" title="View Site">
        <div class="menu-link">
          <a href="http://localhost:51494/" target="_blank">
            <i class="fa fa-external-link"></i>
            <span class="menu-item-text">View Site</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
