@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
}

.header-input {
  color: white;
}

  .header-input:focus {
    outline: 1px solid white;
    box-shadow: none;
    color: white;
  }

  .header-input::placeholder {
    color: white;
  }

.fill-danger {
  background-color: #F2DEDE;
}

.fill-success {
  background-color: #DFF0D8;
}

.navbar {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-brand {
  font-size: 24px;
}

.key-value {
  
}

  .key-value > key {
    color: #394B58;
    font-weight: bold;
    font-size: 24px;
  }

.site {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow-y: auto;
}

.side-menu {
  float: left;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  background-color: #394B58;
  color: #ffffff;
  box-shadow: inset -3px -3px 4px -2px rgba(0,0,0,0.25);
}

  .side-menu .brand {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed silver;
    cursor: pointer;
  }

    .side-menu .brand:hover {
      background-color: #253744;
    }

  .side-menu .links {
    flex: 1;
  }

  .side-menu ul {
    list-style-type: none;
    font-size: 18px;
    padding: 0;
  }

    .side-menu ul .menu-item {
      cursor: pointer;
    }

      .side-menu ul .menu-item .menu-link {
        padding: 15px;
      }

        .side-menu ul .menu-item .menu-link.active {
          background-color: #1F2334;
        }

        .side-menu ul .menu-item .menu-link a {
          color: #ffffff;
        }

        .side-menu ul .menu-item .menu-link:hover {
          background-color: #1F2334;
          cursor: pointer;
        }

        .side-menu ul .menu-item .menu-link a:hover {
          text-decoration: none;
        }

        .side-menu ul .menu-item .menu-link .menu-item-text {
          margin-left: 5px;
        }

      .side-menu ul .menu-item .sub-menu {
        background-color: #2E2E2E;
        padding-left: 30px;
        font-size: 14px;
      }

        .side-menu ul .menu-item .sub-menu .menu-item {
          padding-top: 10px;
          padding-bottom: 10px;
        }

          .side-menu ul .menu-item .sub-menu .menu-item a {
            color: #ffffff;
            text-decoration: none;
          }

  .side-menu .footer {
    padding: 10px;
    background-color: #253744;
    text-align: center;
  }

    .side-menu .footer .menu-toggle {
      color: #ffffff;
      cursor: pointer;
    }

      .side-menu .footer .menu-toggle i::before {
        content: "\f359";
      }

.side-menu-narrow {
  width: 75px;
}

  .side-menu-narrow .brand i {
    font-size: 3em;
  }

  .side-menu-narrow ul li {
    text-align: center;
  }

    .side-menu-narrow ul li i {
      /*font-size: 1.25em;*/
      margin-right: 0 !important;
    }

    .side-menu-narrow ul li .menu-item-text {
      display: none;
    }

    .side-menu-narrow ul li .sub-menu {
      display: none;
    }

  .side-menu-narrow .footer .menu-toggle i::before {
    content: "\f35a";
  }

.hidden {
  display: none;
}

.table-centered tbody td {
  vertical-align: middle;
}

.cursor-pointer {
  cursor: pointer;
}

.card-table table {
  margin-bottom: 0;
}

#sure-toast-root {
  position: fixed;
  z-index: 10000;
  margin: 25px;
}

  #sure-toast-root .sure-toast:last-child {
    margin-bottom: 0;
  }

.sure-toast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #353535;
  color: #FEFEFE;
  margin-bottom: 15px;
  width: auto;
  animation: fadein .5s;
}

#sure-toast-root.bottom {
  bottom: 0;
  left: 0;
  right: 0;
}

#sure-toast-root.top {
  top: 0;
  left: 0;
  right: 0;
}

#sure-toast-root.top-flush {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
}

#sure-toast-root.bottom-flush {
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

#sure-toast-root.top-left {
  top: 0;
  left: 0;
}

#sure-toast-root.top-right {
  top: 0;
  right: 0;
}

#sure-toast-root.bottom-left {
  bottom: 0;
  left: 0;
}

#sure-toast-root.bottom-right {
  bottom: 0;
  right: 0;
}

.sure-toast.success {
  background-color: #D4EDDA;
  color: #155724;
}

.sure-toast.warning {
  background-color: #FFF3CD;
  color: #A46404;
}

.sure-toast.error {
  background-color: #F8D7DA;
  color: #881C24;
}

.sure-toast.info {
  background-color: #D4EEF9;
  color: #004085;
}

.sure-toast .sure-toast-content {
  padding: 15px;
}

.sure-toast .sure-toast-header {
  margin-bottom: 10px;
}

.sure-toast .sure-toast-content .sure-toast-header .sure-toast-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.sure-toast .action-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.sure-toast .toast-action {
  text-decoration: none;
  color: #9DC2FA;
  text-transform: uppercase;
  letter-spacing: .03em;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.8rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.sure-toast.success .toast-action {
  color: #155724;
}

.sure-toast.warning .toast-action {
  color: #A46404;
}

.sure-toast.error .toast-action {
  color: #881C24;
}

.sure-toast.info .toast-action {
  color: #004085;
}

.sure-toast .progress-bar {
  width: 100%;
  height: 15px;
  background-color: #525252;
}

.sure-toast.success .progress-bar {
  background-color: #C2D8C7;
}

.sure-toast.warning .progress-bar {
  background-color: #E8DCB6;
}

.sure-toast.error .progress-bar {
  background-color: #DEBDC0;
}

.sure-toast.info .progress-bar {
  background-color: #C0DAE5;
}

@keyframes collapse {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

.bg-lang-css {
  background-color: #563d7c;
}

.bg-lang-html {
  background-color: #e44b23;
}

.bg-lang-js {
  background-color: #f1e05a;
}

.badge {
  font-size: 1rem;
}

.resource-grid {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media only screen and (max-width: 976px) {
  .resource-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.resource-item {
  margin-bottom: 15px;
}

  .resource-item .resource-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 5px;
    margin-bottom: 8px;
  }

    .resource-item .resource-preview img {
      object-fit: contain;
      justify-self: center;
      align-self: center;
      width: auto;
      height: 100%;
      max-height: 200px;
    }

  .resource-item .resource-name {
    font-size: 12px;
  }

:host {
  display: block
}

.user-header {
  display: flex;
  flex-direction: row;
}

  .user-header .profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    background-color: white;
    margin-right: 15px;
  }

  .user-header .user-details {
    line-height: 1.20;
    align-self: center;
  }

    .user-header .user-details .username {
      color: white;
      font-weight: bold;
      font-size: 14px;
    }

    .user-header .user-details .role {
      color: #7E86A4;
      font-size: 16px;
    }

.card-key-value {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  border: 1px solid #dddddd;
  border-radius: 12px;
}

.card-default {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
  border-radius: 8px;
  border: none;
}

  .card-default .card-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .card-default.parent-card .card-default .card-header {
      border-radius: 0;
  }

  .card-default.parent-card .card-default {
      border-radius: 0;
      box-shadow: none;
  }

  .card-default .card-body {
      padding: 0;
  }

  .card-default .card-default-section {
    border-top: 1px solid #cccccc;
    padding: 1rem !important;
  }

  .card-default .card-header {
      font-weight: bold;
      font-size: 18px;
  }
