<!DOCTYPE html>
<html>

<head>
    <title>@ComposerCMSApp.GetTitle(ViewData)</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    @ComposerCMSApp.ApplyThemeCss()
</head>
    
<body>
    @await Component.InvokeAsync("MainMenu")
    @RenderBody()
</body>
</html>
