<table class="table table-striped table-centered" *ngIf="externalResources">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Href</th>
      <th>Extension</th>
      <th *ngIf="showAction"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let externalResource of externalResources">
      <td>
        <a class="cursor-pointer text-primary" (click)="viewResource(externalResource)">
          <i class="fa fa-external-link"></i>&nbsp;{{externalResource.name}}
        </a>
      </td>
      <td>{{externalResource.href}}</td>
      <td>{{externalResource.extension}}</td>
      <td *ngIf="showAction">
        <a class="cursor-pointer text-primary" (click)="onActionClicked.next(externalResource)">{{actionText}}</a>
      </td>
    </tr>
    <tr *ngIf="externalResources.length === 0">
      <td colspan="5">
        There are no external resources to display.
      </td>
    </tr>
  </tbody>
</table>
