@page
@model ComposerCMS.Web.Models.System.LoginModel

<div class="app-page">
    <div class="container">
        <div class="section">
            <label class="title-4">Email Address</label>
            <input type="text" class="input-element" />
        </div>
        <div class="section">
            <label class="title-4">Password</label>
            <input type="password" class="input-element" />
        </div>

        <div class="section">
            <button type="submit" class="button fill-suc text-white is-small is-shadowed">Login</button>
        </div>

        <div class="section">
            <button type="submit" class="button fill-light text-black is-shadowed is-small">Signup with Email</button>
            <button type="submit" class="button fill-light text-black is-shadowed is-small">Signup with Google</button>
            <button type="submit" class="button fill-light text-black is-shadowed is-small">Signup with Facebook</button>
        </div>

        <span>Don't have an account? Sign up <a href="/signup" class="text-blue">here!</a></span>
    </div>
</div>