@model ComposerCMS.Core.Model.MenuScaffold

<div class="fill-white is-shadowed fill-light">
    <div class="container-xlg">
        <div class="nav nav-menu slim flush">
            <div class="nav-right">
                <ul class="nav-item">
                    <li>
                        <a class="text-decoration-none" href="/checkout">
                            Login
                        </a>
                    </li>
                    <li>
                        <a class="text-decoration-none" href="/checkout">
                            Signup
                        </a>
                    </li>
                    <li>
                        <a class="text-decoration-none" href="/checkout">
                            0 cart $0.00
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="fill-white is-shadowed">
    <div class="container-xlg">
        <div class="nav nav-menu flush">
            <div class="nav-left">
                <span class="nav-text">
                    <a href="/">
                        <img class="nav-brand-logo" src="~/composer-cms/media/logo.png" />
                    </a>
                </span>
            </div>
            <div class="nav-right">
                <ul class="nav-item">
                    @foreach (ComposerCMS.Core.Model.MenuItemScaffold itemScaffold in this.Model.Items)
                    {
                        <li>
                            <a href="@itemScaffold.Url">@itemScaffold.DisplayText</a>
                        </li>
                    }
                    <li>
                        <a class="text-decoration-none" href="/checkout">
                            0 cart $0.00
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>