<app-page>
  <div actions>
    <button type="button" class="btn btn-primary" routerLink="/category">Add New Category</button>
  </div>
  <div content>
    <div class="card shadow-sm">
      <table class="table table-centered mb-0">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td>
              <a class="text-primary cursor-pointer" [routerLink]="['/category', category.id]">{{category.name}}</a>
            </td>
          </tr>
          <tr *ngIf="categories.length === 0">
            <td colspan="4">
              There are no product categories to display.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-page>
