@import 'variables';
@import 'animations';
@import 'layout';
@import 'components';
@import 'colors';
@import 'typography';
@import 'helpers';
@import 'dashboard';

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
}

.content-page {
    padding: 30px;
}