 .login {
    background-color: #253744;
    color: #f7f7f7;
    padding: 50px;
}

.login .title {
    text-transform: uppercase;
}

.login .divider {
    border: 2px dashed #f7f7f7;
}

a {
    color: white;
    text-decoration: underline;
}
