<app-page>
  <div actions>
    <button type="button" class="btn btn-primary" routerLink="/menu">Create New Menu</button>
  </div>
  <div content>
    <div class="card shadow-sm">
      <table class="table table-centered mb-0">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Date Added</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let menu of menus">
            <td>
              <a [routerLink]="['/menu', menu.id]">
                {{menu.name}}
              </a>
            </td>
            <td>{{menu.dateAdded | date: 'short'}}</td>
          </tr>
          <tr *ngIf="menus.length === 0">
            <td colspan="7">
              There are no menus to display.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-page>
